@page
@model TennisProjekt24.Pages.Practices.DeletePracticeModel
@{
    ViewData["Title"] = "Delete Practice";
}
<h1>Delete Practice</h1>
<form method="post">
    <div class="form-group">
        <label>Practice ID</label> : @Model.DeletePractice.PracticeId <br />
        <label>Start Date</label> : @Model.DeletePractice.StartDate <br />
        <label>Title</label> : @Model.DeletePractice.Title <br />
        <label>Number of Trainings</label> : @Model.DeletePractice.NoOfTrainings <br />
        <label>Max Number of Attendees</label> : @Model.DeletePractice.MaxNoOfAttendees <br />
        <label>Type</label> : @Model.DeletePractice.Type <br />
        <input type="submit" asp-page-handler="Delete" asp-route-id="@Model.DeletePractice.PracticeId" class="btn btn-danger" value="Delete Practice" />

        <input type="submit" value="Cancel" class="btn btn-warning" asp-page-handler="Cancel" />
    </div>
</form>