@page
@model TennisProjekt24.Pages.Practices.IndexModel
@{
    ViewData["Title"] = "Practice index";
}
<p>
    <a asp-page="AddPractice">Add Practice</a>
</p>

        @if(Model.Practices.Count != 0)
        {
            @foreach(var item in Model.Practices)
            {
                <div class="card" style="width: 30rem;">    
                <div class="card-body">
                <h3> @item.Title</h3>
                <h4>@item.StartDate</h4>
                <h5>@item.Type</h5>
                <h6>Ved: @item.Instructor.Name</h6>
                <p>@item.Description</p>
                <a class="card-link" asp-page="DeletePractice" asp-route-id="@item.PracticeId">Delete</a>
                <a class="card-link" asp-page="UpdatePractice" asp-route-id="@item.PracticeId">Update</a>
                @if (item.MaxNoOfAttendees > item.Members.Count)
                {
                    <a asp-page="/MemberPractice/Index" asp-route-id="@item.PracticeId">Attend</a>
                }
                else
                {
                    <p>Holdet er fyldt</p>
                }
                </div>
    
            </div>
            }
        }
