@page
@using TennisProjekt24.Models
@model TennisProjekt24.Pages.Practices.UpdatePracticeModel
@{
}
<form method="post">
    <input type="hidden" asp-for="@Model.Practice.PracticeId"/>
    <div class="form-group datepickers" >
        <label asp-for="@Model.Practice.StartDate" class="control-label"></label>
        <input asp-for="@Model.Practice.StartDate" class="form-control" />
        <span asp-validation-for="Practice.StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Practice.Title" class="control-label"></label>
        <input asp-for="@Model.Practice.Title" class="form-control" />
        <span asp-validation-for="Practice.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Practice.NoOfTrainings" class="control-label"></label>
        <input asp-for="@Model.Practice.NoOfTrainings" class="form-control" />
        <span asp-validation-for="Practice.NoOfTrainings" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Practice.MaxNoOfAttendees" class="control-label"></label>
        <input asp-for="@Model.Practice.MaxNoOfAttendees" class="form-control" />
        <span asp-validation-for="Practice.MaxNoOfAttendees" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Practice.InstructorId" class="control-label"></label>
        <input asp-for="@Model.Practice.InstructorId" class="form-control" />
        <span asp-validation-for="Practice.InstructorId" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="@Model.Practice.Type" class="control-label">Type af trænning</label>
    <br />
    @foreach (var c in System.Enum.GetValues(typeof(PracticeTypeEnum)))
    {
        <input type="radio" asp-for="@Model.Practice.Type" value="@c" />
        <label class="control-label">@c</label>
        <br />

    }

    <span asp-validation-for="Practice.Type" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Update" asp-page-handler="Update" class="btn btn-primary" />
    </div>
</form>