@page
@model TennisProjekt24.Pages.Courts.CreateCourtsModel
@using TennisProjekt24.Models;
@{
    ViewData["Title"] = "CreateCourt";
}

<h1>Create court</h1>

<form method="post">
    <div class="form-group">
        <input asp-for="@Model.NewCourt.Outdoor" />Outdoor<br />
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewCourt.CourtNumber" class="control-label"></label>
        <input asp-for="@Model.NewCourt.CourtNumber" class="form-control" />
        <span asp-validation-for="@Model.NewCourt.CourtNumber" class="text-danger"></span>
    </div>
    <div class="form-group">

        @foreach (var type in System.Enum.GetValues(typeof(@CourtTypeEnum)))
        {
            <input type="radio" asp-for="@Model.NewCourt.CourtType" value="@type" />
            <label class="control-label">@type</label>
            <br />
        }
        <span asp-validation-for="@Model.NewCourt.CourtType" class="text-danger"></span>

    </div>
    <div class="form-group">
        <input asp-for="@Model.NewCourt.Availability" />Tilgængelig<br />
    </div>
    <div class="form-group">
        <input type="submit" value="Create a court" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>
