@page
@model TennisProjekt24.Pages.Courts.CreateCourtsModel
@using TennisProjekt24.Models;
@{
    ViewData["Title"] = "CreateCourt";
}

<h1>Opret en bane</h1>

<form method="post">

    <div class="form-group">
        <input asp-for="@Model.NewCourt.Outdoor" />Er den udendørs?<br />
    </div>
    
    <div class="form-group">
        <label asp-for="@Model.NewCourt.CourtNumber" class="control-label">Hvad er dens banenummer?</label>
        <input asp-for="@Model.NewCourt.CourtNumber" class="form-control" />
        <span asp-validation-for="@Model.NewCourt.CourtNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.NewCourt.CourtType" class="control-label">Havd er bane typen</label>
        <br />
        @foreach (var type in System.Enum.GetValues(typeof(@CourtTypeEnum)))
        {
            @if ((int) type != 0)
            {
                <input type="radio" asp-for="@Model.NewCourt.CourtType" value="@type" />
                <label class="control-label">@type</label>
                <br />
            }
        }
        <span asp-validation-for="@Model.NewCourt.CourtType" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input asp-for="@Model.NewCourt.Availability" />Er banen allerede tilgængelig for medlemmerne?<br />
    </div>
    
    <div class="form-group">
        <input type="submit" value="Opret en bane" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-page="Index">Gå tilbage</a>
</div>
