@page
@model TennisProjekt24.Pages.Members.IndexModel
@{
    ViewData["Title"] = "Members Index";
}

<h1>Medlemsoversigt</h1>




<a asp-page="AddMember" class="btn btn-primary">Opret medlem</a>

<table class="table">
    <thead>
        <tr>
            @* <th>
                Medlem Id
            </th> *@
            <th>
                Billede
            </th>
            <th>
                Brugernavn
            </th>
            @* <th>
                Password
            </th> *@
            <th>
                Navn
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon nummer
            </th>
            @if (Model.CurrentMember.Admin)
            {
                <th>
                    Adresse
                </th>
                <th>
                    Postnummer
                </th>
                <th>
                    Type af medlemsskab
                </th>
                <th>
                    Admin
                </th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model.members.Count() != 0)
        {
            @foreach (var item in Model.members)
            {
                <tr>
                    @* <td>
                        @item.MemberId
                    </td> *@
                    <td>
                        <img src="~/images/memberimages/@item.Image" class="avatar thumbnail">
                    </td>
                    <td>
                        @item.Username
                    </td>
                    @* <td>
                        @item.Password
                    </td> *@
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    @if (Model.CurrentMember.Admin)
                    {
                        <td>
                            @item.Address
                        </td>
                        <td>
                            @item.PostCode
                        </td>
                        <td>
                            @item.MemberType
                        </td>
                        <td>
                            @if (item.Admin)
                            {
                                <p>✓</p>
                            }
                            else
                            {

                            }
                        </td>
                        <td>
                            <p>
                                <a asp-page="/Members/DeleteMember" asp-route-id="@item.MemberId">Slet</a> |
                                <a asp-page="/Members/UpdateMember" asp-route-id="@item.MemberId">Opdater</a>
                            </p>
                        </td>



                    }
                   @*  <td>

                            @if (Model.CurrentMember.Admin)
                            {
                            
                            }
                            
                        
                    </td> *@
                </tr>
            }
        }
    </tbody>
</table>



<style>

    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 40%;
    }


    .thumbnail {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }

        /*change the number below to scale to the appropriate size*/
        .thumbnail:hover {
            transform: scale(3);
        }
</style>