@page
@model TennisProjekt24.Pages.Members.IndexModel
@{
    ViewData["Title"] = "Members Index";
}

<h1>Medlem Index</h1>

<a asp-page="AddMember" class="btn btn-primary">Opret medlem</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Medlem Id
            </th>
            <th>
                Brugernavn
            </th>
            <th>
                Password
            </th>
            <th>
                Navn
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon nummer
            </th>
            <th>
                Adresse
            </th>
            <th>
                Postnummer
            </th>
            <th>
                Type af medlemsskab
            </th>
            <th>
                Admin
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.members.Count() != 0)
        {
            @foreach (var item in Model.members)
            {
                <tr>
                    <td>
                        @item.MemberId
                    </td>
                    <td>
                        @item.Username
                    </td>
                    <td>
                        @item.Password
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @item.PostCode
                    </td>
                    <td>
                        @item.MemberType
                    </td>
                    <td>
                        @item.Admin
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Members/DeleteMember" asp-route-id="@item.MemberId">Slet</a> |
                            <a asp-page="/Members/UpdateMember" asp-route-id="@item.MemberId">Opdater</a>

                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>