@page
@model TennisProjekt24.Pages.Members.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    
</head>

<h1>Min side</h1>
<p> Hej @Model.CurrentMember.Name!</p>


<div class="form-group">
    <table class="table">
       @*  <tr>
            <th>Medlems id</th>
            <td>@Model.CurrentMember.MemberId</td>
        </tr> *@
        <tr>
            <th>Brugernavn</th>
            <td>@Model.CurrentMember.Username</td>
        </tr>
        @* <tr>
            <th>Password</th>
            <td>@Model.CurrentMember.Password</td>
        </tr> *@
        <tr>
            <th>Navn</th>
            <td>@Model.CurrentMember.Name</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.CurrentMember.Email</td>
        </tr>
        <tr>
            <th>Telefon Nummer</th>
            <td>@Model.CurrentMember.PhoneNumber</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>@Model.CurrentMember.Address</td>
        </tr>
        <tr>
            <th>Postnummer</th>
            <td>@Model.CurrentMember.PostCode</td>
        </tr>
        <tr>
            <th>Type af medlemsskab</th>
            <td>@Model.CurrentMember.MemberType</td>
        </tr>
        <tr>
            <th>Admin</th>
            <td>@Model.CurrentMember.Admin</td>
        </tr>
        <tr>
            <th>Billede</th>
            <td><img src="~/images/memberimages/@Model.CurrentMember.Image"  class="thumbnail avatar" ></td>
        </tr>
    </table>

    <a asp-page="/Members/DeleteMember" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Slet</a>
    <a asp-page="/Members/UpdateMember" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Opdater</a>
    <a asp-page="/Members/UpdatePassword" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Skift adgangskode</a>
    <a asp-page="/Members/UpdatePhoto" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Skift profilbillede</a>
    <a asp-page="/Members/index" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Se medlemmer</a>
    <br /> <br /> 
    <p>Dine tilmeldinger:</p>
    <a asp-page="/Events/MyEvents" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Begivenheder</a>
    <a asp-page="/Bookings/BookingsMember" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Baner</a>
    <a asp-page="/MemberPractice/MemberView" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Træningshold</a>
    <br /> <br />
    <a asp-page="/Members/LogIn" asp-page-handler="Logout" class="btn btn-warning">Log ud</a>



    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a asp-page="/Members/DeleteMember" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Slet</a>
            <a asp-page="/Members/UpdateMember" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Opdater</a>
            <a asp-page="/Members/UpdatePassword" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Skift adgangskode</a>
            <a asp-page="/Members/UpdatePhoto" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-secondary">Skift profilbillede</a>
        </div>
    </div>


</div>


<style>
    .dropbtn {
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>

