@page
@model TennisProjekt24.Pages.Members.UpdatePasswordModel
@{
    ViewData["Title"] = "Opdater adgangskode";
}


<h1>Opdater password</h1>

<div class="card">

    <form method="post">

        <div class="form-group" hidden="hidden">
            <label asp-for="@Model.UpdatedMember.MemberId" class="control-label">Bruger Id</label>
            <input asp-for="@Model.UpdatedMember.MemberId" class="form-control" />
        </div>

        <span class="text-danger">@Model.Message</span>

        <div class="form-group">
            <label asp-for="@Model.OldPassword" class="control-label">Gamle password</label>
            <input type="password" asp-for="@Model.OldPassword" class="form-control" id="old" autocomplete="off" />
        </div>

        @* <input type="checkbox" onclick="passwordFunc()" > Vis password *@

        <div class="form-group">
            <label asp-for="@Model.NewPassword" class="control-label">Nye password</label>
            <input type="password" asp-for="@Model.NewPassword" class="form-control" id="new" autocomplete="off" />
        </div>

        <input type="checkbox" onclick="passwordFunc()"> Vis password


        <div class="form-group">
            <br />
            <input type="submit" asp-route-id="@Model.UpdatedMember.MemberId" value="Opdater password" class="btn btn-primary" />
            <a asp-page="Profile" class="btn btn-secondary">Tilbage</a>
        </div>
    </form>

</div>

<script>
    function passwordFunc() {
        var x = document.getElementById("old");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }

        var x = document.getElementById("new");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>