@page
@model TennisProjekt24.Pages.Events.BookEventModel
@{
    ViewData["Title"] = "Book Event";
}

<head>
    <link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />
</head>

<h1>Tilmeld event</h1>

@* <p class="text-danger">@Model.Message</p> *@

<div class="card">

    <form method="post">

        <table >
            <tr hidden>
                <th>Event Id</th>
                <td>@Model.EventBook.EventId</td>
            </tr>
            <tr>
                <th>Dato</th>
                <td>@Model.EventBook.Date.Value.ToString("dddd, dd MMMM yyyy HH:mm")</td>
            </tr>
            <tr>
                <th>Titel</th>
                <td>@Model.EventBook.Title</td>
            </tr>
            <tr>
                <th>Beskrivelse</th>
                <td><pre>@Model.EventBook.Description</pre></td>
            </tr>
            <tr>
                <th>Arrangør</th>
                <td>@Model.EventBook.Member.Name</td>
            </tr>
        </table>
        <br />
        <div class="form-group">
            <label asp-for="@Model.Attendee.NoOfParticipants">Antal deltagere (inklusiv dig selv):</label>
            <input asp-for="@Model.Attendee.NoOfParticipants" type="number" class="form-control" />
            <span asp-validation-for="Attendee.NoOfParticipants" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Attendee.Note">Kommentar:</label>
            <input asp-for="@Model.Attendee.Note" type="text" class="form-control" />
        </div>
        <div class="form-group">
            @* <label for="memberId">Vælg medlem:</label>
            <select name="memberId" id="memberId">
            <option value="">-- Vælg medlem --</option>
            @foreach (var member in Model.members)
            {
            <option value="@member.MemberId">@member.Name</option>
            }
            </select>
            </div> *@
            <br />

            <input type="submit" value="Tilmeld" asp-route-eventId="@Model.EventBook.EventId" class="btn btn-primary" />
            @* <a asp-page="/Events/RemoveEvBook" asp-route-eventId="@Model.EventBook.EventId" asp-route-memberId="@Model.CurrentMember.MemberId" class="btn btn-warning">Afmeld</a> *@
            <a asp-page="Index" class="btn btn-secondary">Tilbage</a>

    </form>

</div>