@page
@model TennisProjekt24.Pages.Events.DeleteEventModel
@{
    ViewData["Title"] = "Delete Event";
}

<head>
    <link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />
</head>

<h1>Slet begivenhed</h1>
<div class="card">

    

    <form method="post">
        <div class="form-group">
            <table >
                <tr hidden>
                    <th>Event Id</th>
                    <td>@Model.EventDelete.EventId</td>
                </tr>
                <tr>
                    <th>Dato</th>
                    <td>@Model.EventDelete.Date.Value.ToString("dddd, dd MMMM yyyy HH:mm")</td>
                </tr>
                <tr>
                    <th>Lokation</th>
                    <td>@Model.EventDelete.Place</td>
                </tr>
                <tr>
                    <th>Titel</th>
                    <td>@Model.EventDelete.Title</td>
                </tr>
                <tr>
                    <th>Beskrivelse</th>
                    <td><pre>@Model.EventDelete.Description</pre></td>
                </tr>
                <tr>
                    <th>Arrangør</th>
                    <td>@Model.EventDelete.Member.Name</td>
                </tr>
            </table>
            <br />
            <input type="submit" value="Slet" asp-route-eventId="@Model.EventDelete.EventId" class="btn btn-danger" />
            <a asp-page="Index" class="btn btn-secondary">Tilbage</a>
        </div>
    </form>

</div>