@page
@model TennisProjekt24.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>
<a asp-page="AddEvent" class="btn btn-primary">Opret event</a>
<a asp-page="MyEvents" class="btn btn-primary">Mine event tilmeldinger</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Event Id
            </th>
            <th>
                Dato
            </th>
            <th>
                Titel
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Lokation
            </th>
            <th>
                Medlem Id
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Events.Count() != 0)
        {
            @foreach (var item in Model.EventsFuture)
            {
                <tr>
                    <td>
                        @item.EventId
                    </td>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Place
                    </td>
                    <td>
                        @item.Member.MemberId
                    </td>
                    <td>
                        <p>
                            <a asp-page="/Events/DeleteEvent" asp-route-eventId="@item.EventId">Slet</a>
                            <a asp-page="/Events/UpdateEvent" asp-route-eventId="@item.EventId">Rediger</a> 
                            @if (Model.CurrentMember != null)
                            {
                                var isAttending = Model.Participants.Any(e => e.Event.EventId == item.EventId);

                                if (isAttending)
                                {
                                    <a asp-page="/Events/RemoveEvBook" asp-route-eventId="@item.EventId">Afmeld</a>
                                }
                                else
                                {
                                    <a asp-page="/Events/BookEvent" asp-route-eventId="@item.EventId">Tilmeld</a>
                                }
                            }
                            else
                            {
                                <a asp-page="/Members/LogIn">Log ind for at tilmelde</a>
                            }
                            <a asp-page="/Events/Participants" asp-route-eventId="@item.EventId">Deltagere</a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>