@page
@model TennisProjekt24.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Index";
}

<head>

    <link rel="stylesheet" href="~/css/eventIndex.css" asp-append-version="true" />
</head>



<h1>Events</h1>


<div>
    @if (Model.CurrentMember != null)
    {
        @if (Model.CurrentMember.Admin == true)
        {
            <a asp-page="AddEvent" class="btn btn-primary">Opret event</a>
        }

        @* <a asp-page="MyEvents" class="btn btn-primary">Mine event tilmeldinger</a> *@
    }

</div>



@if (Model.Events.Count() != 0)
{
    @foreach (var item in Model.EventsFuture)
    {
        <div class="card">
            <div class="row">


                <div class="column" style="flex:12%">
                    <table>
                        <tr>
                            <td>
                                <img src="~/images/eventImages/@item.Image" class="avatar thumbnail" style="width: 250px; height: 250px;">
                            </td>
                        </tr>
                    </table>
                </div>



                <div class="column; fw-bold" style="flex:10%">
                    <table>
                        <tr>
                            <td >@item.Title</td>
                        </tr>
                        <tr>
                            <td>@item.Date.Value.ToString("dddd, dd MMMM yyyy HH:mm")</td>
                        </tr>
                        <tr>
                            <td>Lokation: @item.Place</td>
                        </tr>
                        <tr>
                            <td>Arrangør: @item.Member.Name</td>
                        </tr>
                        <tr>
                            <td>
                                
                            </td>

                        </tr>
                    </table>
                </div>


                <div class="column" style="flex:55%">

                    <table style="height:210px">

                        <tr>

                            <td>
                                <span>Beskrivelse:</span>
                            </td>

                        </tr>
                        <tr>
                            <td><br /></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="height">
                                    <pre>@item.Description</pre>
                                </div>

                            </td>

                        </tr>
                        <tr>
                            <td height="100%"></td>
                        </tr>
                        <tr></tr>
                        <tr>

                        </tr>

                    </table>

                </div>
    

            </div>

            <div class="row">
                <div class="column" style="flex:10%">

                    <table style="float:right">
                        <tr></tr>
                        <tr>
                            <td>
                                @if (Model.CurrentMember != null)
                                {
                                    @if (Model.CurrentMember.Admin == true)
                                    {

                                        <a asp-page="/Events/DeleteEvent" asp-route-eventId="@item.EventId" class="btn btn-primary">Slet</a>
                                        <a asp-page="/Events/UpdateEvent" asp-route-eventId="@item.EventId" class="btn btn-primary">Rediger</a>
                                        <a asp-page="/Events/Participants" asp-route-eventId="@item.EventId" class="btn btn-primary">Deltagere</a>
                                    }
                                }
                                @if (Model.CurrentMember != null)
                                {
                                    var isAttending = Model.Participants.Any(e => e.Event.EventId == item.EventId);

                                    if (isAttending)
                                    {
                                        <a asp-page="/Events/RemoveEvBook" asp-route-eventId="@item.EventId" asp-route-id="@item.Member.MemberId" class="btn btn-primary">Afmeld</a>
                                    }
                                    else
                                    {
                                        <a asp-page="/Events/BookEvent" asp-route-eventId="@item.EventId" class="btn btn-primary">Tilmeld</a>
                                    }
                                }
                                else
                                {
                                    <a asp-page="/Members/LogIn" class="btn btn-primary">Log ind for at tilmelde</a>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                </div>

        </div>

    }
}


