@page
@model TennisProjekt24.Pages.Events.UpdateEventModel
@{
    ViewData["Title"] = "Update Event";
}


<h1>Opdater dine oplysninger</h1>


<form method="post">

    <div class="form-group">
        <label asp-for="@Model.EventUpdate.EventId" class="control-label">Event Id</label>
        <input asp-for="@Model.EventUpdate.EventId" class="form-control" readonly="readonly"/>
    </div>


    <div class="form-group">
        <label asp-for="@Model.EventUpdate.Date" class="control-label">Dato</label>
        <input asp-for="@Model.EventUpdate.Date" class="form-control"/>
        <span asp-validation-for="EventUpdate.Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.EventUpdate.Title" class="control-label">Titel</label>
        <input asp-for="@Model.EventUpdate.Title" class="form-control"/>
        <span asp-validation-for="EventUpdate.Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.EventUpdate.Description" class="control-label">Beskrivelse</label>
        <input asp-for="@Model.EventUpdate.Description" class="form-control"/>
        <span asp-validation-for="EventUpdate.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.EventUpdate.Place" class="control-label">Lokation</label>
        <input asp-for="@Model.EventUpdate.Place" class="form-control"/>
        <span asp-validation-for="EventUpdate.Place" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.EventUpdate.Member.MemberId" class="control-label">Medlem Id</label>
        <input asp-for="@Model.EventUpdate.Member.MemberId" class="form-control" />
    </div>

    <div class="form-group">
        <br /> <br />
        <input type="submit" asp-route-eventId="@Model.EventUpdate.EventId" value="Opdater Event" class="btn btn-primary" />
        <a asp-page="Index" class="btn btn-secondary">Tilbage</a>
    </div>
</form>