@page
@model TennisProjekt24.Pages.Events.UpdateEventModel
@{
    ViewData["Title"] = "Update Event";
}


<h1>Opdater begivenhedens oplysninger</h1>

<div class="card">

    <form method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="@Model.EventUpdate.EventId" class="control-label">Event Id</label>
            <input asp-for="@Model.EventUpdate.EventId" class="form-control" readonly="readonly" />
        </div>


        <div class="form-group">
            <label asp-for="@Model.EventUpdate.Date" class="control-label">Dato</label>
            <input asp-for="@Model.EventUpdate.Date" class="form-control" />
            <span asp-validation-for="EventUpdate.Date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EventUpdate.Title" class="control-label">Titel</label>
            <input asp-for="@Model.EventUpdate.Title" class="form-control" />
            <span asp-validation-for="EventUpdate.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EventUpdate.Description" class="control-label">Beskrivelse</label>
            <input asp-for="@Model.EventUpdate.Description" class="form-control" />
            <span asp-validation-for="EventUpdate.Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.EventUpdate.Place" class="control-label">Lokation</label>
            <input asp-for="@Model.EventUpdate.Place" class="form-control" />
            <span asp-validation-for="EventUpdate.Place" class="text-danger"></span>
        </div>

        @* <div class="form-group">
            <label asp-for="@Model.Picture" class="control-label">Tilføj billede</label>
            <div class="custom-file">
                <input asp-for="@Model.Picture" class="custom-file-input form-control" />
                <label class="custom-file-label"></label>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
        </div> *@
        @*     <div class="form-group">
        <label asp-for="@Model.EventUpdate.Member.Name" class="control-label">Arrangør</label>
        <input asp-for="@Model.EventUpdate.Member.Name" class="form-control" />
        </div> *@

        <div class="form-group">
            <br /> <br />
            <input type="submit" asp-route-eventId="@Model.EventUpdate.EventId" value="Opdater Event" class="btn btn-primary" />
            <a asp-page="Index" class="btn btn-secondary">Tilbage</a>
        </div>
        <input type="hidden" asp-for="@Model.EventUpdate.Member.MemberId" />
    </form>

</div>