@page
@model TennisProjekt24.Pages.ForumComments.DeleteCommentModel
@{
}

<h1>Slet kommentar</h1>

<div class="card">

<form method="post">
    <div class="form-group">
        @* <label>CommentId</label> : @Model.DeleteComment.CommentId <br /> *@
        <label>PostId</label> : @Model.DeleteComment.PostId <br />
        <label>Medlem</label> : @Model.DeleteComment.Commenter.Name <br />
        <label>Text</label> : @Model.DeleteComment.Text <br />
        <label>Dato</label> : @Model.DeleteComment.DateTime <br />
        <br />
        <input class="btn btn-danger" type="submit" asp-page-handler="Delete" asp-route-commentId="@Model.DeleteComment.CommentId" asp-route-postId="@Model.DeleteComment.PostId" value="Slet" />
            <a asp-page="/BuddyForums/GetBuddyForum" asp-route-postId="@Model.DeleteComment.PostId" class="btn btn-secondary">Tilbage</a>
    </div>
    
</form>
</div>