@page
@model TennisProjekt24.Pages.BuddyForums.DeleteBuddyForumModel
@{
    ViewData["Title"] = "DeleteBuddyForum";
}
<head>
    <link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />
</head>

<h1>Slet opslag</h1>
<div class="card">

    
    <form method="post">

        <div class="form-group">
            <table>

                <tr>
                    <th>Dato</th>
                    <td>@Model.DeleteBuddy.DateTime.ToString("dd MMMM yyyy")</td>
                </tr>
                <tr>
                    <th>Medlem</th>
                    <td>@Model.DeleteBuddy.Poster.Name</td>
                </tr>
                <tr>
                    <th>Titel</th>
                    <td>@Model.DeleteBuddy.Title</td>
                </tr>
                <tr>
                    <th>Tekst</th>
                    <td><pre>@Model.DeleteBuddy.Text</pre></td>
                </tr>
                <tr>
                    <th>Erfarings niveau</th>
                    <td>@Model.DeleteBuddy.SkillType</td>
                </tr>

            </table>

            <br />
            <input class="btn btn-danger" type="submit" asp-page-handler="Delete" asp-route-postId="@Model.DeleteBuddy.PostId" value="Slet" />
            <a asp-page="Index" class="btn btn-secondary">Tilbage</a>

        </div>
    </form>


</div>