@page
@model TennisProjekt24.Pages.BuddyForums.GetBuddyForumModel
@{
    ViewData["Title"] = "GetBuddyForum";
}


<head>
    <style>
        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 34px;
            padding: 0 14px;
        }
        .post {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: auto;
            font-family: arial;
        }
        .textBlog {
            margin: 3%;
            text-align: center;
        }
        .comment {

        }

    </style>
</head>

<form method="get">
    <body>
        <div class="post">
            <div class="heading">
                <p>@Model.GetBuddyForum.DateTime</p>
                <p>@Model.GetBuddyForum.Title</p>
                <p>@Model.GetBuddyForum.SkillType</p>
            </div>
            <div class="textBlog">
                <p>@Model.GetBuddyForum.Text</p>
            </div>
        </div>
@*         <div class="form-group">
            <label class="custom-control-label">Sort Order</label> <br />
            <select asp-for="SortOrderAscDesc" onchange="this.form.submit()">
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option>
            </select>
        </div> *@
        <table class="table">
                <div class="comment">
                    @if (Model.ForumComments.Count() != 0)
                    {
                        @foreach (var item in Model.ForumComments)
                        {
                            <div class="card-group">
                                <div class="card" style="width: 50rem;" >
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Commenter.Name -------- @item.DateTime</h5>
                                        <p class="card-text">@item.Text</p>
                                    </div>
                                </div>
                                <tr>
                                    @if (item.Commenter.MemberId == (int)HttpContext.Session.GetInt32("MemberId"))
                                    {
                                        <p>
                                            <a asp-page="/ForumComments/DeleteComment" asp-route-commentId="@item.CommentId">Slet</a>
                                            <a asp-page="/ForumComments/UpdateComment" asp-route-commentId="@item.CommentId">Opdater</a>
                                        </p>
                                    }
                                </tr>
                            </div>
                        }
                    }
                </div>
            </tbody>
        </table>
    </body>
</form>


<form method="post">
    <body>
        <div class="form-group">
            <label asp-for="@Model.CreateComment.Text" class="control-label"></label>
            <input asp-for="@Model.CreateComment.Text" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Create a comment" class="btn btn-primary" />
        </div>
    </body>
</form>