@page
@model TennisProjekt24.Pages.BuddyForums.IndexModel
@inject Interfaces.IForumCommentService _forumCommentService;
@{
    ViewData["Title"] = "Index";
}


<head>
    <style>
        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 34px;
            padding: 0 14px;
        }

        .post {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: auto;
            font-family: arial;
        }

        .textBlog {
            margin: 3%;
            text-align: center;
        }
        .comment {
            text-align: right
        }
        
        .avatar {
            vertical-align: middle;
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        .row {
            display: flex;
            margin-left: -5px;
            margin-right: -5px;
        }

        .column {
            flex: 33.3%;
            padding: 5px;
        }

        .height {
            max-height: 250px;
            overflow-y: auto;
        }

        p.letters {
            word-wrap: break-word;
        }

    </style>
</head>

<h1>Makker forum</h1>

<a asp-page="/BuddyForums/CreateBuddyForum" class="btn btn-primary">Opret</a>

<form method="get">
    <div class="form-group">
        <label class="custom-control-label">Erfaringsniveau</label></br>

        @foreach (var type in System.Enum.GetValues(typeof(Helpers.SkillTypeEnum)))
        {
            if ((int)type == 0)
            {
                <input type="radio" asp-for="@Model.SkillLevel" value="None" onclick="this.form.submit()" />
                <label class="control-label">Alle</label>
            }
            else
            {
                <input type="radio" asp-for="@Model.SkillLevel" value="@type" onclick="this.form.submit()" />
                <label class="control-label">@type</label>
            }
        }
    </div>
    <div class="form-group">
        <input asp-for="@Model.IsEnabled" onchange="this.form.submit()" /> vis mine post <br />
    </div>


    @if (Model.buddyForums.Count() != 0)
    {
        @foreach (var item in Model.buddyForums)
        {

            <div class="card">



                <div class="row">
                    <div class="column" style="flex:10%">

                        <table style="height:350px">
                            <tr>
                                <td>@item.Poster.Name</td>
                            </tr>
                            <tr>
                                <td>
                                    @item.DateTime.ToString("dd MMMM yyyy")
                                </td>

                            </tr>
                            <tr>
                                <td>@item.SkillType</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="~/images/memberimages/@item.Poster.Image" class="thumbnail avatar">
                                </td>
                                <td height="100%"></td>
                            </tr>
                            <tr>
                                <td>
                                    @if (item.Poster.MemberId == (int)HttpContext.Session.GetInt32("MemberId"))
                                    {
                                        <span style="float: left">
                                            <a asp-page="/BuddyForums/DeleteBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">Slet</a>
                                            <a asp-page="/BuddyForums/UpdateBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">Rediger</a>
                                        </span>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="column" style="flex:50%">




                        <table @* width="130%" *@ class="height">
                            <tr>
                                <td><h3>@item.Title</h3></td>
                            </tr>
                            <tr>
                                <td><br /></td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="height">

                                        <p>@item.Text</p>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
         

                    <div class="column" style="flex:10%">

                        <table style="height:350px; float:right">
                            <tr>
                                @* <td style="float:right">@item.SkillType</td> *@
                            </tr>
                            <tr>
                                <td height="100%"></td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td><a asp-page="/BuddyForums/GetBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">se kommentare(@_forumCommentService.GetPostComments(item.PostId).Count())</a></td>
                            </tr>
                        </table>
                    </div>

                </div>
                
            </div>


        }
    }

</form>

@* 

    @if (Model.buddyForums.Count() != 0)
    {
        @foreach (var item in Model.buddyForums)
        {
            
            <div class="card">

                <table>

                    <tr>
                        <td style="font-size:20px">
                            @item.Poster.Name
                            
                        </td>
                        <td width="40%">
                            <h3>@item.Title</h3>
                        </td>
                        <td style="float:right; font-size:20px">@item.SkillType</td>
                    </tr>
                    <tr>
                        <td>
                            @item.DateTime.ToString("dd MMMM yyyy")
                        </td>
                        <td>
                          <br /> <br />
                            @item.Text
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            <img src="~/images/memberimages/@item.Poster.Image" class="thumbnail avatar">
                        </td>
                        
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <br />
                            @if (item.Poster.MemberId == (int)HttpContext.Session.GetInt32("MemberId"))
                            {
                                <span style="float: left">
                                    <a asp-page="/BuddyForums/DeleteBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">Slet</a>
                                    <a asp-page="/BuddyForums/UpdateBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">Rediger</a>
                                </span>
                            }
                        </td>
                   
                        <td>
                            <br />
                            <span style="float:right"><a asp-page="/BuddyForums/GetBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">se kommentare(@_forumCommentService.GetPostComments(item.PostId).Count())</a></span>
                        </td>
                    </tr>


                </table>


            </div>

        }
    }























    @if (Model.buddyForums.Count() != 0)
    {
        @foreach (var item in Model.buddyForums)
        {
            <div class="card">
                <div class="heading">
                    <p>@item.DateTime.ToString("dd MMMM yyyy")</p>
                    <p>@item.Title</p>
                    <p>@item.SkillType</p>
                </div>
                <h1>@item.Poster.Name</h1>
                <div class="textBlog">
                    <p>@item.Text</p>

                    <div style="display:inline">

                        <div class="comment">
                            <span><a asp-page="/BuddyForums/GetBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">se kommentare(@_forumCommentService.GetPostComments(item.PostId).Count())</a></span>

                        </div>

                        @if (item.Poster.MemberId == (int)HttpContext.Session.GetInt32("MemberId"))
                        {
                            <span style="float: left">
                                <a asp-page="/BuddyForums/DeleteBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">Slet</a>
                                <a asp-page="/BuddyForums/UpdateBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">Opdater</a>
                            </span>
                        }
                    </div>
                </div>
            </div>
        }
    }
</form> *@