@page
@model TennisProjekt24.Pages.BuddyForums.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h4>Makker forum</h4>

<a asp-page="/BuddyForums/CreateBuddyForum">Opret</a>

<table class="table">
    <thead>
        <tr>
            <th>
                PostId
            </th>
            <th>
                Dato
            </th>
            <th>
                MedlemsId
            </th>
            <th>
                Title
            </th>
            <th>
                Text
            </th>
            <th>
                Erfarings niveau
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.buddyForums.Count() != 0)
        {
            @foreach (var item in Model.buddyForums)
            {
                <tr>
                    <td>
                        @item.PostId
                    </td>
                    <td>
                        @item.DateTime
                    </td>
                    <td>
                        @item.MemberId
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Text
                    </td>
                    <td>
                        @item.SkillType
                    </td>
                    @if (item.MemberId == (int)HttpContext.Session.GetInt32("MemberId"))
                    {
                        <td>
                            <p>
                            <a asp-page="/BuddyForums/DeleteBuddyForum" asp-route-postId="@item.PostId">Slet</a>|
                            <a asp-page="/BuddyForums/UpdateBuddyForum" asp-route-postId="@item.PostId">Opdater</a>|
                        </p>
                    </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>