@page
@model TennisProjekt24.Pages.BuddyForums.IndexModel
@inject Interfaces.IForumCommentService _forumCommentService;
@{
    ViewData["Title"] = "Index";
}


<head>
    <style>
        .heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 34px;
            padding: 0 14px;
        }

        .post {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: auto;
            font-family: arial;
        }

        .textBlog {
            margin: 3%;
            text-align: center;
        }
        .comment {
            text-align: right
        }
        
    </style>
</head>

<h1>Makker forum</h1>

<a asp-page="/BuddyForums/CreateBuddyForum" class="btn btn-primary">Opret</a>

<form method="get">
    <div class="form-group">
        <label class="custom-control-label">Erfaringsniveau</label></br>

        @foreach (var type in System.Enum.GetValues(typeof(Helpers.SkillTypeEnum)))
        {
            if ((int)type == 0)
            {
                <input type="radio" asp-for="@Model.SkillLevel" value="None" onclick="this.form.submit()" />
                <label class="control-label">Alle</label>
            }
            else
            {
                <input type="radio" asp-for="@Model.SkillLevel" value="@type" onclick="this.form.submit()" />
                <label class="control-label">@type</label>
            }
        }
    </div>
    <div class="form-group">
        <input asp-for="@Model.IsEnabled" onchange="this.form.submit()" /> vis mine post <br />
    </div>
    @if (Model.buddyForums.Count() != 0)
    {
        @foreach (var item in Model.buddyForums)
        {
            <div class="card">
                <div class="heading">
                    <p>@item.DateTime.ToString("dd MMMM yyyy")</p>
                    <p>@item.Title</p>
                    <p>@item.SkillType</p>
                </div>
                <h1>@item.Poster.Name</h1>
                <div class="textBlog">
                    <p>@item.Text</p>
                    <div class="comment">
                        <p><a asp-page="/BuddyForums/GetBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">se kommentare(@_forumCommentService.GetPostComments(item.PostId).Count())</a></p>

                    </div>
                </div>
                @if (item.Poster.MemberId == (int)HttpContext.Session.GetInt32("MemberId"))
                {
                    <p>
                        <a asp-page="/BuddyForums/DeleteBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">Slet</a>
                        <a asp-page="/BuddyForums/UpdateBuddyForum" asp-route-postId="@item.PostId" class="btn btn-primary">Opdater</a>
                    </p>
                }
            </div>
        }
    }
</form>