@page
@model TennisProjekt24.Pages.BuddyForums.IndexModel
@{
    ViewData["Title"] = "TableIndex";
}

<h4>Makker forum</h4>

<a asp-page="/BuddyForums/CreateBuddyForum">Opret</a>

<form method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Medlem
                </th>
                <th>
                    Dato
                </th>
                <th>
                    Title
                </th>
                <th>
                    Erfarings niveau
                </th>
            </tr>
        </thead>
        <tbody>
            <div class="form-group">
                <label class="custom-control-label">Sortering for erfarings niveau</label></br>
                @* @foreach (Helpers.SkillTypeEnum skillType in (Helpers.SkillTypeEnum[])Enum.GetValues(typeof(Helpers.SkillTypeEnum))) { } *@

                <input type="radio" asp-for="@Model.SkillLevel" value="None" onclick="this.form.submit()" /> Alle
                <input type="radio" asp-for="@Model.SkillLevel" value="LetØvet" onclick="this.form.submit()" /> LetØvet
                <input type="radio" asp-for="@Model.SkillLevel" value="Øvet" onclick="this.form.submit()" /> Øvet
                <input type="radio" asp-for="@Model.SkillLevel" value="Rutineret" onclick="this.form.submit()" /> Rutineret
            </div>
            @if (Model.buddyForums.Count() != 0)
            {
                @foreach (var item in Model.buddyForums)
                {
                    <tr>
                        <td>
                            @item.Poster.Name
                        </td>
                        <td>
                            @item.DateTime
                        </td>
                        <td>
                            <a asp-page="/BuddyForums/GetBuddyForum" asp-route-postId="@item.PostId">@item.Title</a>
                        </td>
                        <td>
                            @item.SkillType
                        </td>
                        @if (item.Poster.MemberId == (int)HttpContext.Session.GetInt32("MemberId"))
                        {
                            <td>
                                <p>
                                <a asp-page="/BuddyForums/DeleteBuddyForum" asp-route-postId="@item.PostId">Slet</a>
                                <a asp-page="/BuddyForums/UpdateBuddyForum" asp-route-postId="@item.PostId">Opdater</a>
                            </p>
                        </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</form>