@page
@model TennisProjekt24.Pages.BuddyForums.UpdateBuddyForumModel
@{
    ViewData["Title"] = "UpdateBuddyForum";
}

<h1>Opdater post</h1>

<div class="card">

    <form method="post">

        <input type="hidden" asp-for="@Model.PostToUpdate.PostId" />
        <div class="form-group">
            <label asp-for="@Model.PostToUpdate.Title" class="control-label">Titel</label>
            <input asp-for="@Model.PostToUpdate.Title" class="form-control" />
            <span asp-validation-for="@Model.PostToUpdate.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.PostToUpdate.Text" class="control-label">Tekst</label>
            @* <input asp-for="@Model.PostToUpdate.Text" class="form-control" /> *@
            <textarea asp-for="@Model.PostToUpdate.Text" class="form-control" id="text" rows="10"></textarea>
            <span asp-validation-for="@Model.PostToUpdate.Text" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Rediger" asp-page-handler="Update" class="btn btn-primary" />
            <a asp-page="Index" class="btn btn-primary">Tilbage</a>
        </div>
    </form>
    @* <div>
    <a asp-page="Index" class="btn btn-primary">Tilbage</a>
    </div>
    *@

</div>