@page
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@model TennisProjekt24.Pages.MemberPractice.IndexModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>


@if (Model.CurrentMember.Admin)
{
    <h1>Tilmelding og deltagere</h1>
}
else
{
    <h1>Tilmelding</h1>
}


<div class="card">

    <form method="post">
        <div >
            <h3>@Model.Practice.Title</h3>
            <pre>@Model.Practice.Description</pre>
        </div>

        <br />
        <br />

        <div class="form-group">
            @if (Model.Practice.Members.Find(x => x.MemberId == (int)HttpContextAccessor.HttpContext.Session.GetInt32("MemberId")) != null)
            {
                <p>Du er allerede tilmeldt holdet</p>
            }
            else if (Model.Practice.MaxNoOfAttendees > Model.Practice.Members.Count)
            {
                <input asp-route-practiceId="@Model.Practice.PracticeId" type="submit" value="Tilmed" class="btn btn-primary" />
            }
            else
            {
                <p>Holdet tager ikke imod flere deltagere</p>
            }

        </div>
    </form>
  </div>
  @if(Model.CurrentMember.Admin)
{
  <div class="card">
    <h3>Deltagerliste</h3>
    <table class="table" value="Deltagere">
        <thead>
            <tr>
                <th>
                    Navn
                </th>
                <th>
                    Tlf nr
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Practice.Members.Count() != 0)
            {
                @foreach (var item in Model.Practice.Members)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.PhoneNumber
                        </td>
                    </tr>
                }
            }
        </tbody>
        @* <td><a asp-page="/Practices/Index">Back</a></td> *@
    </table>

    
    

</div>  
}

<br />
<div>
    <a asp-page="/Practices/Index" class="btn btn-secondary">Tilbage</a>
</div>