@page
@using TennisProjekt24.Models
@model TennisProjekt24.Pages.Bookings.FancyIndexModel
@{
    ViewData["Title"] = "Index - Fancy";
}


<form method="get">

    <label asp-for="@Model.Date">Dato:</label>
    <input type="date" asp-for="@Model.Date" min="2024-04-01" />

    

    <select id="TypeFilter" name="TypeFilter" asp-for="@Model.TypeFilter">
        @foreach (string item in Model.TypeChoice)
        {
            <option class="dropdown-button" value="@item">@item</option>
        }
    </select>


    <select asp-for="@Model.OutdoorFilter">
        @foreach (var item in Model.OutdoorChoice)
        {
            <option value="@item">@item</option>
        }
    </select>


    <input type="submit" value="filter" />
</form>





@* <div align="center">
    <form method="get">
        <div>
           
            <select id="TypeFilter" name="TypeFilter" asp-for="@Model.TypeFilter">
                @foreach ( string item in Model.TypeChoice)
                {
                    <option class="dropdown-button" value="@item">@item</option>
                }
                <option value="Tennis">Tennis</option>
            </select>


            <select asp-for="@Model.OutdoorFilter">
                @foreach (var item in Model.OutdoorChoice)
                {
                    <option value="@item">@item</option>
                }
            </select>
            <input type="submit" value="filter" />
        </div>


    </form>
</div> *@


<h2>valgt dato: @Model.Date</h2>

@if (Model.CurrentMember != null && Model.CurrentMember.Admin)
{

    <a asp-page="/Bookings/Index" asp-route-id="@Model.CurrentMember.MemberId" class="btn btn-primary" style="float: right;">Se alle bookinger</a>

}



<table class="table">
    <tbody>
        <tr>
            <td>tid</td>
            @foreach(var item in Model.Courts)
            {

                <td>
                    bane @item.CourtNumber
                    <br /> @item.CourtType
                    <br /> @if(item.Outdoor==true)
                    {
                        <p>udendørs</p>
                    }
                    else
                    {
                        <p>indendørs</p>
                    }
                </td>
                
            }
            
        </tr>

        @foreach (var item in Model.TimeOnly)
        {
            <tr>



                <td>@item</td>

                @foreach (var ting in Model.Courts)
                {
                    if (Model.Date < DateOnly.FromDateTime(DateTime.Now) || Model.Date == DateOnly.FromDateTime(DateTime.Now) && item < TimeOnly.FromDateTime(DateTime.Now))
                    {
                        <td>
                            <span title="Utilgængelig" class="btn btn-secondary"><img src="~/images/bookingimages/x.png" height="20" width="20"></span>
                        </td>

                    }
                    else if (Model._bookingService.CheckAvailability(ting.CourtId, Model.Date, item))
                    {

                        if(Model.CurrentMember==null)
                        { 
                            <td>
                                @* <a asp-page="/Members/LogIn" class="btn btn-success"><img src="~/images/user.png" height="20" width="20"></a> *@
                                <div class="popup" onclick="Login()">
                                    <span title="Ledig" class="btn btn-success"><img src="~/images/bookingimages/user.png" height="20" width="20"></span>

                                </div>
                            </td>
                        }

                        else if (Model.Date>DateOnly.FromDateTime(DateTime.Now.AddDays(14)) && !Model.CurrentMember.Admin)
                        {
                            <td>
                                
                                <div  class="popup" onclick="DateRule()">
                                    <span title="Ledig" class="btn btn-success"><img src="~/images/bookingimages/user.png" height="20" width="20"></span>

                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a title="Ledig" asp-page="/Bookings/AddBookingFancy" asp-route-id="@ting.CourtId" asp-route-date="@Model.Date" asp-route-time="@item" class="btn btn-success">
                                    <img src="~/images/bookingimages/user.png" height="20" width="20"></a>
                            </td>
                        }

                    }
                    else
                    {

                       
                        <td>
                            @* <a asp-page="" class="btn btn-danger">X</a> *@
                            @* <span class ="btn btn-danger">X</span>  *@

                        

                       
                        @switch(Model.Bookings.First(c => c.Court.CourtId == ting.CourtId && c.Time == item).Type.ToString())
                        {
                                case "Member":
                                    <span title="Optaget" class="btn btn-danger"><img src="~/images/bookingimages/user.png" height="20" width="20" ></span>
                                    break;
                                case "Event":
                                    <span title="Begivenhed" class="btn btn-danger"><img src="~/images/bookingimages/event.png" height="20" width="20"></span>
                                    break;
                                default:
                                    <span title="Træning" class="btn btn-danger"><img src="~/images/bookingimages/tennis-practice.png" height="20" width="20"></span>
                                    break;
                            }
                        
                        </td>

                    }

                   


                }
            </tr>


        }

       
        
    </tbody>
</table>






@* <td>8.00</td>
            @foreach(var item in Model.Courts)
            {
                <td>
                    <a asp-page="/Bookings/AddBookingFancy" asp-route-id="@item.CourtId" asp-route-date="@Model.Date" asp-route-time="8:00" class="btn btn-outline-info"></a>
                </td>
            } *@

 
<script>

    function DateRule() {
        alert ('Du må ikke booke mere end 14 dage frem')
    }

    function Login() {
        alert('Du skal være logget ind hvis du vil booke en bane')
    }

</script>


