@page
@using TennisProjekt24.Models
@model TennisProjekt24.Pages.Bookings.IndexModel
@{
    ViewData["Title"] = "Booking Index";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>



<h1>Bane Bookinger</h1>


<div class="card">

    @* <a asp-page="AddBooking" class="btn btn-primary">Opret booking</a> *@

    <form method="get">


        søg: <input type="text" asp-for="@Model.FilterCriteria" />


        <select id="TypeFilter" name="TypeFilter" asp-for="@Model.TypeFilter">
            @foreach (string item in Model.TypeChoice)
            {
                <option class="dropdown-button" value="@item">@item</option>
            }
        </select>


        <input type="submit" value="filter" />

        <div class="form-group">
            <span>vælg sortering</span>
            <br />
            <input type="radio" asp-for="@Model.SortByTime" value="Nyeste først" onclick="this.form.submit()" checked /> Nyeste først
            <input type="radio" asp-for="@Model.SortByTime" value="Ældste først" onclick="this.form.submit()" /> Ældste først

        </div>

        <div class="form-group">
            <span>vælg sortering</span>
            <br />
            <input type="radio" asp-for="@Model.SortByOld" value="skjul gamle" onclick="this.form.submit()" checked /> Skjul gamle bookinger
            <input type="radio" asp-for="@Model.SortByOld" value="vis gamle" onclick="this.form.submit()" /> Vis gamle bookinger

        </div>


    </form>

</div>

<div class="card">

    <table class="table">
        <thead>
            <tr>
                @* <th>
                BookingID
                </th> *@
                <th>
                    Dato
                </th>
                <th>
                    Tidspunkt
                </th>
                @* <th>
                Længde
                </th> *@
                <th>
                    Medlem
                </th>
                <th>
                    Anden spiller
                </th>
                <th>
                    Bane nr
                </th>
                <th>
                    Bane type
                </th>
                <th>
                    Booking type
                </th>
                <th>
                    Note
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @if (Model.BookingsList != null && Model.BookingsList.Count() != 0)
            {
                @foreach (var item in Model.BookingsList)
                {
                    <tr>
                        @* <td>
                @item.BookingId
                </td> *@
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @item.Time
                        </td>
                        @* <td>
                @item.Duration
                </td> *@
                        <td>
                            @item.Member.Name
                        </td>
                        <td>
                            @item.SecondMemberFull.Name
                        </td>
                        <td>
                            @item.Court.CourtNumber
                        </td>
                        <td>
                            @item.Court.CourtType
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @item.Note
                        </td>

                        <td>
                            <p>
                                <a asp-page="/Bookings/UpdateBooking" asp-route-id="@item.BookingId" class="btn btn-primary">Rediger</a>
                                &nbsp;
                                <a asp-page="/Bookings/DeleteBooking" asp-route-id="@item.BookingId" class="btn btn-primary">Slet</a>

                            </p>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>


@* @foreach (var item in Model.BookingsList)
{
    List<Booking> list = Model._bookingService.GetBookingsByCourt(item.BookingId);
        foreach (var item2 in list)
    {
        
    }
} *@