@page
@model TennisProjekt24.Pages.Instructors.DeleteInstructorModel
@{
    ViewData["Title"] = "Delete Instructor";
}
<h1>Delete Practice</h1>
<form method="post">
    <div class="form-group">
        <label>ID</label> : @Model.DeleteInstructor.InstructorId <br />
        <label>Name</label> : @Model.DeleteInstructor.Name <br />
        <label>Phone Number</label> : @Model.DeleteInstructor.PhoneNumber <br />
        <label>Description</label> : @Model.DeleteInstructor.Description <br />
        <label>Image</label> : @Model.DeleteInstructor.Image <br />
        <input type="submit" asp-page-handler="Delete" asp-route-id="@Model.DeleteInstructor.InstructorId" class="btn btn-danger" value="Delete" />

        <input type="submit" value="Cancel" class="btn btn-warning" asp-page-handler="Cancel" />
    </div>
</form>