@page
@model TennisProjekt24.Pages.Instructors.DeleteInstructorModel
@{
    ViewData["Title"] = "Delete Instructor";
}
<h1>Slet Træner</h1>

<div class="card">

<form method="post">
    <div class="form-group">
        <label>ID</label> : @Model.DeleteInstructor.InstructorId <br />
        <label>Navn</label> : @Model.DeleteInstructor.Name <br />
        <label>Telefonnummer</label> : @Model.DeleteInstructor.PhoneNumber <br />
        <label>Beskrivelse</label> : @Model.DeleteInstructor.Description <br />
        <label>Billede</label> : @Model.DeleteInstructor.Image <br />
        <input type="submit" asp-page-handler="Delete" asp-route-id="@Model.DeleteInstructor.InstructorId" class="btn btn-danger" value="Slet" />

        <input type="submit" value="Tilbage" class="btn btn-warning" asp-page-handler="Cancel" />
    </div>
</form>

</div>