@page
@model TennisProjekt24.Pages.Instructors.IndexModel
@{
    ViewData["Title"] = "Practice index";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>


<h1>Klubbens Trænere</h1>

<div class="card">
<p>
    @if (Model.User.Admin)
    {
        <a asp-page="AddInstructor" class="btn btn-primary">Opret træner</a>
    }
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Telefonnummer</th>
            <th>Beskrivelse</th>
            <th>Billede</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Instructors.Count != 0)
        {
            @foreach (var item in Model.Instructors)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <img src="~/images/instructorimages/@item.Image" class="avatar thumbnail" />
                    </td>
                    @if (Model.User.Admin)
                    {
                            <td>
                                <a asp-page="DeleteInstructor" asp-route-id="@item.InstructorId" class="btn btn-primary">Slet</a>
                                &nbsp;
                                <a asp-page="UpdateInstructor" asp-route-id="@item.InstructorId" class="btn btn-primary">Opdater</a>
                            </td>

                        }
                </tr>
            }
        }
    </tbody>
</table>


</div>

<style>

    .avatar {
        vertical-align: middle;
        width: 80px;
        height: 80px;
        border-radius: 40%;
    }


    .thumbnail {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }

        /*change the number below to scale to the appropriate size*/
        .thumbnail:hover {
            transform: scale(2);
        }
</style>