@page
@model TennisProjekt24.Pages.Instructors.IndexModel
@{
    ViewData["Title"] = "Practice index";
}

@* <head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head> *@

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 300px;
       
        
        
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

    /* .container {
        padding: 2px 16px;
    } */
    .container {
        display: flex;
        flex-wrap: wrap;
        /* gap: 30px; */
        
    }
</style>



<h1>Klubbens Trænere</h1>


<p>
    @if (Model.User != null)
    {


        @if (Model.User.Admin)
        {
            <a asp-page="AddInstructor" class="btn btn-primary">Opret træner</a>
        }
    }
</p>

@if (Model.Instructors.Count != 0)
{
    <div class="container" style="gap: 30px;">
        @foreach (var item in Model.Instructors)
        {

            <div class="card">
                <img src="~/images/instructorimages/@item.Image" class="avatar" style="width:100%" />
                <div style="padding: 2px 16px;">
                    <h4 style="text-align:center"><b>@item.Name</b></h4>

                    <p style="text-align:center">Tlf: @item.PhoneNumber</p>
                    @* <pre>@item.Description</pre> *@
                    <br />
                    <br />
                    <div style="text-align:center">
                        @if (Model.User != null)
                        {

                            
                            @if (Model.User.Admin)
                            {
                                <a asp-page="DeleteInstructor" asp-route-id="@item.InstructorId" class="btn btn-primary">Slet</a>
                                <a asp-page="UpdateInstructor" asp-route-id="@item.InstructorId" class="btn btn-primary">Opdater</a>

                            }
                        }
                    </div>
                </div>
            </div>


        }
    </div>
}














@* <table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Telefonnummer</th>
            <th>Beskrivelse</th>
            <th>Billede</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Instructors.Count != 0)
        {
            @foreach (var item in Model.Instructors)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.PhoneNumber
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        <img src="~/images/instructorimages/@item.Image" class="avatar thumbnail" />
                    </td>
                    @if (Model.User.Admin)
                    {
                            <td>
                                <a asp-page="DeleteInstructor" asp-route-id="@item.InstructorId" class="btn btn-primary">Slet</a>
                                &nbsp;
                                <a asp-page="UpdateInstructor" asp-route-id="@item.InstructorId" class="btn btn-primary">Opdater</a>
                            </td>

                        }
                </tr>
            }
        }
    </tbody>
</table>


</div> *@

<style>

    .avatar {
        vertical-align: middle;
        width: 150px;
        height: 220px;
        border-radius: 20%;

    }


    .thumbnail {
        top: -50px;
        left: -35px;
        display: block;
        z-index: 999;
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
    }

        /*change the number below to scale to the appropriate size*/
        .thumbnail:hover {
            transform: scale(2);
        }
</style>