@page
@model TennisProjekt24.Pages.Instructors.UpdateInstructorModel
@{
    ViewData["Title"] = "Update Instructor";
}

<div class="card">

    <form method="post">
        <input type="hidden" asp-for="@Model.Instructor.InstructorId" />
        <input type="hidden" asp-for="@Model.Instructor.Image" />
        <div class="form-group">
            <label asp-for="@Model.Instructor.Name" class="control-label">Navn</label>
            <input asp-for="@Model.Instructor.Name" class="form-control" />
            <span asp-validation-for="Instructor.Name" class="text-danger"></span>
        </div>
        <div class="form-group datepickers">
            <label asp-for="@Model.Instructor.PhoneNumber" class="control-label">Telefonnummer</label>
            <input asp-for="@Model.Instructor.PhoneNumber" class="form-control" />
            <span asp-validation-for="Instructor.PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Instructor.Description" class="control-label">Beskrivelse</label>
            @* <input asp-for="@Model.Instructor.Description" class="form-control" /> *@
            <textarea asp-for="@Model.Instructor.Description" class="form-control" id="text" rows="10"></textarea>
            <span asp-validation-for="Instructor.Description" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Rediger" asp-page-handler="Update" class="btn btn-primary" />
            <a asp-page="Index" class="btn btn-secondary">Tilbage</a>
        </div>
    </form>

    

</div>