@page
@model TennisProjekt24.Pages.NewsPosts.IndexModel
@{
    ViewData["Title"] = "News Index";
}

<h1 align="center">Klubbens nyheder</h1>


@if (Model.CurrentMember != null)
{
    if (Model.CurrentMember.Admin)
    {
        <a asp-page="AddPost" class="btn btn-primary">Opret nyt opslag</a>
        <br />
        <br />
    }
}



@foreach (var item in Model.posts)
{

    <div class="card">

        <h2 align="center">@item.Title</h2>
        <h7 align="center">@item.Date.ToString("dddd, dd MMMM yyyy")</h7>
        <h7 align="center">skrevet af @item.Member.Name </h7>
        <br />
        <pre align="center" style="font-family:Verdana">@item.Text</pre>

        <br />

        @if (Model.CurrentMember != null)
        {
            if (Model.CurrentMember.Admin)
            {
                <div>
                    <a asp-page="DeletePost" asp-route-id="@item.NewsPostId" class="btn btn-secondary">Slet opslag</a>
                    <a asp-page="UpdatePost" asp-route-id="@item.NewsPostId" class="btn btn-secondary">Rediger opslag</a>
                </div>
            }
        }
        
        
    </div>

    <br />
    
}


