@page
@model TennisProjekt24.Pages.Calender.IndexModel
@using Helpers;
@{
    ViewData["Title"] = "Calender";
}

<style>
body {
	flex-flow: column;
}

.grid {
	display: grid;

	.month {
		width: 10rem;
		height: 6rem;
		flex-flow: column;
		/* padding: 1rem; */
        padding: 2px 16px;
		/* font-weight: 300; */
		font-size: 0.8rem;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */

	}
.date {
    font-weight:bold;
    font-size:1rem;
}
}

.button {
    float: left
}

.heading {
    text-align: center;
}
</style>

<div class="card">



<form method="get">
    <div>
        <div class="button">
        <select asp-for="Months" onchange="this.form.submit()" asp-items="Html.GetEnumSelectList<Months>()">
        <option value="">vælg måned</option>
    </select>

    <select asp-for="CurrentYear" onchange="this.form.submit()">
        @for (int i = 2020; i < 2030; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
    </div>
    <div class="heading">
        <h1>@Model.NameofMonth @Model.CurrentYear</h1>
    </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            @foreach (var weekDay in System.Enum.GetValues(typeof(weekDays)))
            {
                <th>
                    @weekDay.ToString()
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @for (int i = 0; i < 42; i++)
            {
                DateTime date = Model.FirstDay.AddDays(i + 1);
                
                if (i % 7 == 0 && i > 0)
                {
                    @:</tr><tr>
                }
                
                if ((i == 0) && (Model.FirstDayOfMonth.DayOfWeek == DayOfWeek.Sunday))
                {
                    date = Model.FirstDay.AddDays(i);
                }
                <td>
                <div class="grid">
                <div class="month">
                    @if (date.Month == Model.CurrentMonth) 
                    {
                        <div class="date">
                        @date.Day
                        </div>
                    }
                    @foreach(var ev in Model.Events)
                    {
                        if(ev.Date.Value.Day == date.Day && ev.Date.Value.Month == date.Month && ev.Date.Value.Month == Model.CurrentMonth && ev.Date.Value.Year == Model.CurrentYear)
                        {
                            <a class="nav-link text-dark form-text p-lg-0" asp-area="" asp-page="/Events/Index">@ev.Title</a>
                        }
                    }
                    </div>
                    </div>
                </td>
            }
        </tr>
    </tbody>
</table>

                        </div>